<div class="span12">
  <form id="editBlog" action="<%= @action %>" method="post" class="form-horizontal">
    <fieldset>
      {{#eachProp data}}
      <div class="control-group">
        <label for="{{key}}" class="control-label">{{key}}</label>
        <div class="controls">
          <input name="{{key}}" type="text" id="{{key}}" class="input-xlarge" value="<%= @item.{{key}} %>">
        </div>
      </div>
      {{/eachProp}}
      <div class="control-group">
        <label for="slug" class="control-label">Slug</label>
        <div class="controls">
          <input name="slug" type="text" id="slug" class="input-xlarge" value="<%= @item.slug %>">
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </fieldset>
  </form>
</div>
