<div class="pagination">
  <ul>
    <li class="<%= @prev_class %>"><a href="/{{lowercase resource}}/{{lowercase dataname}}/<%= @_paged_route %><%= @prev_page %><%= @_get_inputs %>">Prev</a></li>
    <% for i in [1..@num_pages]: %>
      <% if i == @current_page: %>
      <li class="active"><a href="/{{lowercase resource}}/{{lowercase dataname}}/<%= @_paged_route %><%= i %><%= @_get_inputs %>"><%= i %></a></li>
      <% else: %>
      <li><a href="/{{lowercase resource}}/{{lowercase dataname}}/<%= @_paged_route %><%= i %><%= @_get_inputs %>"><%= i %></a></li>
      <% end %>
    <% end %>
    <li class="<%= @next_class %>"><a href="/{{lowercase resource}}/{{lowercase dataname}}/<%= @_paged_route %><%= @next_page %><%= @_get_inputs %>">Next</a></li>
  </ul>
</div>
