.span12
  form#editBlog.form-horizontal(action=action, method="post")
    fieldset
      .control-group
        label.control-label(for="title") Title
        .controls
          input.input-xlarge(name="title", type="text", id="title", value=post.title)
      .control-group
        label.control-label(for="slug") Slug
        .controls
          input.input-xlarge(name="slug", type="text", id="slug", value=post.slug)
      .control-group
        label.control-label(for="dj") DJ
        .controls
          input.input-xlarge(name="dj", type="text", id="dj", value=post.dj)
      .control-group
        label.control-label(for="category") Category
        .controls
          select(id="category", name="category")
            option Blog
            option Podcast
      .control-group
        label.control-label(for="date") Date
        .controls
          input.input-xlarge(name="date", type="text", id="date", value=post.date)
      .control-group
        label.control-label(for="excerpt") Excerpt
        .controls
          textarea.span8.input-xlarge(name="excerpt", id="excerpt", rows="4")= post.excerpt
      .control-group
        label.control-label(for="body") Body Post
        .controls
          textarea.span8.input-xlarge(name="body", id="body", rows="10")= post.body
      .form-actions
        button.btn.btn-primary(type="submit") Save Changes
